body {
    background-image: url("/assets/img/bg_stars.gif");
    background-color: black;
    background-repeat: repeat;
    cursor: url("/assets/img/cursor.cur"), auto;
    height: 100vh;
    display: flex; /* Add this line */
    justify-content: center; /* Center horizontally */
    align-items: center; /* Center vertically */
}

h2 {
    color: yellow;
    font-family: 'Pixelify Sans';
    text-align: center;
}

h1 {
    color: white;
    font-family: 'Pixelify Sans';
    text-align: center;
}

h1 span {
    background-color: black;
}

h2 span {
    background-color: purple;
}

li {
    color: white;
    font-family: 'Pixelify Sans';
    text-align: center;
}

li span {
    background-color: aqua;
}

p {
    color: white;
    text-align: center;
    font-family: 'Pixelify Sans';
}

p span {
    background-color: black;
}

.center {
    display: block;
    margin-left: auto;
    margin-right: auto;
}

#responsive-image {
    max-width: 80%;
    height: auto;
}

@media screen and (max-width: 768px) {
    #responsive-image {
        max-width: 100%;
    }
}

.container {
    background-image: url('/assets/img/ralblunt.PNG'); /* Replace with your image URL */
    background-size: 200px 200px;
    background-repeat: repeat;
}

h4 span {
    background-color: black;
}

h3 span {
    background-color: black;
}

h4 {
    color: white;
    text-align: center;
    font-family: 'Pixelify Sans';
}

h3 {
    color: white;
    text-align: center;
    font-family: 'Pixelify Sans';
}
