body {
    background-image: url("assets/img/bg/gay-matrix.gif");
    background-repeat: 100;
    color: white;
    font-family: monospace;
}

.info {
    width: 100%; 
    max-width: fit-content; 
    height: auto; 
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    position: absolute;
    background-color: black;
    border-radius: 5px;
    border: 2px solid blue;
    padding: 20px;
    text-align: left;
}

.info img {
    border-radius: 10px;
    width: 100%;
    max-width: 500px; /* Ensure the image fits within the box */
    height: auto; /* Maintain aspect ratio */
}

mark {
    background-color: red;
    color: white;
  }